.idea/*
*.ipynb
*.csv.ipynb_checkpoints/
*.sqlite3
__pycache__/
Matplotlib practise.ipynb
Test
Test.csv
untitled
bikeYTDkm.csv
.DS_Store
*.xml
TD.db
TrainingDiary.log
Exam.py
trainingdiary/*.sqlite3
trainingdiary/media/*
