
.idea/libraries/R_User_Library.xml
.idea/
.ipynb_checkpoints/
__pycache__/
Matplotlib practise.ipynb
Test
Test.csv
untitled
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
.idea/workspace.xml
.idea/workspace.xml
bikeYTDkm.csv
*.ipynb
*.csv
.DS_Store
.idea/workspace.xml
*.xml
TD.db
TrainingDiary.log
