{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-12">
           <div class="row">
               <div class="col-md-12">
                   <h2 class="border-bottom mb-4">{{ event_occurrence.event.name }}: {{ event_occurrence.date }}</h2>
               </div>
           </div>
           <div class="row">

               <div class="col-md-12">
                   <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                       <thead class="thead-light">
                       <tr>
                           <th>Name</th>
                           <th>Estimated TSS</th>
                           <th>Actual TSS</th>
                           <th>Status</th>
                           <th>Comments</th>
                       </tr>
                       </thead>
                       {% for e in event_occurrence.player_occurrences %}
                       <tr>
                           <td>
                               <a href="{% url 'player_event_occurrence_view_from_event_view' e.id event_occurrence.id %}" class="btn btn-outline-primary btn-block" role="button">{{ e.player.name }}</a>
                           </td>
                           <td>{{ e.event_occurrence.tss}}</td>
                           <td>{{ e.tss}}</td>
                           <td>{{ e.status}}</td>
                           <td>{{ e.comments}}</td>
                       </tr>
                       {% endfor %}
                   </table>
               </div>
           </div>
       </div>
    </div>


</div>

{% endblock %}

   {% block extra_scripts %}

$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

$(document).ready(function(){
$('#frequency').select2();
});

$('#endtime').pickatime({});

    {% endblock %}