{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-12">
           <div class="row">
               <div class="col-md-12">
                   <h1 class="border-bottom mb-4">Event: {{event.name}}</h1>
               </div>
           </div>
           <div class="row">
               {% if event.id != 1 %}
               <div class="col-md-2">
                   <form action="{% url 'event_save' %}" method="post">
                       {% csrf_token %}
                       {{ form | crispy }}
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Update">
                   </form>
                   <h2 class="border-bottom mb-3 text-center">Teams</h2>
                   <form action="{% url 'event_add_coaches' event.id %}" method="post">
                       {% csrf_token %}
                       <div class="row">
                           <div class="col-md-12">
                               {{ select_team_form | crispy }}
                               <input class="btn btn-outline-primary btn-block" type="submit" value="Add Teams">
                           </div>
                       </div>
                   </form>
                   <table id="teamTable" class="table table-hover table-bordered table-striped table-sm ">
                       <thead class="thead-light">
                       <tr>
                           <th>Team</th>
                           <th></th>
                       </tr>
                       </thead>
                       {% for t in event.teams %}
                       <tr>
                           <td>{{ t.name }}</td>
                           <td>
                        <a href="{% url 'remove_team_from_event' t.id event.id %}" class="btn btn-outline-danger btn-block" role="button">Delete</a>
                        </td>
                       </tr>
                       {% endfor %}
                   </table>
               </div>
               {% endif %}
               {% if event %}
               {% if event.id != 1 %}
               <div class="col-md-4">
                   <h4 class="border-bottom mb-1 text-center">Team Occurrences</h4>

                   <form action="{% url 'event_generate_team' event.id %}" method="post">
                       {% csrf_token %}
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Generate Occurrences">
                   </form>
                   <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                       <thead class="thead-light">
                       <tr>
                           <th>Date</th>
                           <th>Teams</th>
                       </tr>
                       </thead>
                       {% for e in event.events_summary %}
                       <tr>
                           <td>
                               <a href="{% url 'event_occurrence' event.id e.0 %}" class="btn btn-outline-primary btn-block" role="button">{{ e.0 }}</a>
                           </td>
                           <td>{{ e.1}}</td>
                       </tr>
                       {% endfor %}
                   </table>
               </div>
                {% endif %}
               <div class="col-md-6">
                   <h4 class="border-bottom mb-1 text-center">Player Occurrences</h4>
                    {% if event.id != 1 %}

                   <form action="{% url 'event_generate_player' event.id %}" method="post">
                       {% csrf_token %}
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Generate Occurrences">
                   </form>
                   {% endif %}
                   <table id="playerTable" class="table table-hover table-bordered table-striped table-sm ">
                       <thead class="thead-light">
                       <tr>
                           <th>Date</th>
                           <th>Name</th>
                           <th>Teams</th>
                           <th>rpe</th>
                           <th>duration</th>
                           <th>tss</th>
                           <th>state</th>
                       </tr>
                       </thead>
                       {% for p in event.player_event_occurrences %}
                       <tr>
                           <td>
                               <a href="{% url 'player_event_occurrence_from_event_view' p.id event.id %}" class="btn btn-outline-primary btn-block" role="button">{{ p.date }}</a>
                           </td>
                           <td>{{ p.player.name }}</td>
                           <td>{{ p.teams_str }}</td>
                           <td>{{ p.rpe }}</td>
                           <td>{{ p.duration }}</td>
                           <td>{{ p.tss }}</td>
                           <td>{{ p.state }}</td>
                       </tr>
                       {% endfor %}
                   </table>
               </div>               {% endif %}
           </div>
       </div>
    </div>


</div>

{% endblock %}

   {% block extra_scripts %}

    $(document).ready(function(){
        $('#playerTable').DataTable({
            "pageLength": 10
        });
        $('.dataTables_length').addClass('bs-select');
    });

$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

$(document).ready(function(){
$('#frequency').select2();
});

$(document).ready(function(){
$('#Teams').select2();
});

$('#endtime').pickatime({});

    {% endblock %}