{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-12">
           <div class="row">
               <div class="col-md-12">
                   <h2 class="border-bottom mb-4">{{ event.name }}: {{ date }}</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-md-3">
                   <h5 class="border-bottom mb-1">Duration</h5>
                   <form action="{% url 'update_all_player_event_duration' event.id date %}" method="post">
                       {% csrf_token %}
                       <div class="row">
                           <div class="col-md-6">
                               <input class="form-control" type="text" name="duration" value="hh:mm:ss">
                           </div>
                           <div class="col-md-6">
                               <input class="btn btn-outline-primary btn-block" type="submit" value="Update All">
                           </div>
                       </div>
                   </form>
               </div>
               <div class="col-md-3">
                   <h5 class="border-bottom mb-1">RPE</h5>
                   <form action="{% url 'update_all_player_event_rpe' event.id date %}" method="post">
                       {% csrf_token %}
                       <div class="row">
                           <div class="row-md-6">
                               <input class="form-control" type="text" name="rpe" value="5.0">
                           </div>
                           <div class="row-md-6">
                               <input class="btn btn-outline-primary btn-block" type="submit" value="Update All">
                           </div>
                       </div>
                   </form>
               </div>
               <div class="col-md-3">
                   <h5 class="border-bottom mb-1">State</h5>
                   <form action="{% url 'update_all_player_event_state' event.id date %}" method="post">
                       {% csrf_token %}
                       <div class="row">
                           <div class="row-md-6">
                               {{ state_form | crispy }}
                           </div>
                           <div class="row-md-6">
                               <input class="btn btn-outline-primary btn-block" type="submit" value="Update All">
                           </div>
                       </div>
                   </form>
               </div>
               <div class="col-md-3">
                   <h5 class="border-bottom mb-1">Comments</h5>
                   <form action="{% url 'update_all_player_event_comments' event.id date %}" method="post">
                       {% csrf_token %}
                       <div class="row">
                           <div class="row-md-6">
                               <input class="form-control" type="text" name="comments" value="">
                           </div>
                           <div class="row-md-6">
                               <input class="btn btn-outline-primary btn-block" type="submit" value="Add to All">
                           </div>
                       </div>
                   </form>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">
                   <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                       <thead class="thead-light">
                       <tr>
                           <th>Name</th>
                           <th>Estimated TSS</th>
                           <th>Actual Duration</th>
                           <th>Actual RPE</th>
                           <th>Actual TSS</th>
                           <th>state</th>
                           <th>Comments</th>
                           <th></th>
                       </tr>
                       </thead>
                       {% for p in players %}
                       <tr>
                           <form action="{% url 'update_player_event_occurrence' event.id date %}" method="post" id="event_occurrence">
                               {% csrf_token %}
                               <input type="hidden" name="id" value="{{ p.0.id }}">
                               <td>
                                   <a href="{% url 'player_event_occurrence_from_event_occurrence_view' p.0.id event.id date %}" class="btn btn-outline-info btn-block" role="button">{{ p.0.player.name }}</a>
                               </td>
                               <td>{{ event.estimated_tss}}</td>
                               <td><input class="form-control" type="text" name="duration" value="{{p.0.duration}}"></td>
                               <td><input class="form-control" type="text" name="rpe" value="{{p.0.rpe}}"></td>
                               <td>{{p.0.tss}}</td>
                               <td>
                                   {{ p.1 | crispy }}
                               </td>
                               <td><input class="form-control" type="text" name="comments" value="{{ p.0.comments}}"></td>
                               <th>
                                   <input class="btn btn-outline-primary btn-block" type="submit" value="Save">
                               </th>
                           </form>
                       </tr>
                       {% endfor %}
                   </table>
               </div>
           </div>
       </div>
    </div>


</div>

{% endblock %}

   {% block extra_scripts %}

$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

{% for p in players %}
    $(document).ready(function(){
    $('#{{p.0.id}}').select2();
    });
{% endfor %}

    $(document).ready(function(){
    $('#state_all').select2();
    });

$('#endtime').pickatime({});

    {% endblock %}