{% extends 'tsb_base.html' %}

{% block content %}
<h2 class="border-bottom mb-4">Generate Historic Event Occurrences?</h2>
<form method="post">
    {% csrf_token %}
    This event has already started. Do you want to generate historic event occurrences or only future events ? (nb future will include today)<br>
    <input class="btn btn-outline-info btn-sm" type="button" value="Don't Generate Anything" onclick="window.history.go(-1);"/>
    <input type="submit" name="Future" value="Generate Future Only" class="btn btn-outline-primary btn-sm" />
    <input type="submit" name="All" value="Generate All (including historic)" class="btn btn-outline-danger btn-sm" />
</form>
{% endblock %}