{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2 class="border-bottom mb-4">Reading Types</h2>
        </div>
        <div class="col-md-2">
            <a href="{% url 'reading_type_new' %}" class="btn btn-outline-primary btn-block" role="button">Add New Reading Type</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
                </thead>
                {% for t in reading_types %}
                <tr>
                    <td>
                        <a href="{% url 'reading_type_edit' t.id %}" class="btn btn-outline-primary btn-block" role="button">{{t.name}}</a>
                    </td>
                    <td>{{ t.min_value }}</td>
                    <td>{{ t.max_value }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
   {% block extra_scripts %}



    {% endblock %}