{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-12">
           <div class="row">
               <div class="col-md-12">
                   <h2 class="border-bottom mb-4">Reading Type Edit: {{ reading_type.name }}</h2>
               </div>
           </div>
       </div>
   </div>
        <form action="{% url 'reading_type_update' %}" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4">
                {{ form.id | as_crispy_field }}
                {{ form.name | as_crispy_field }}
                {{ form.min_value | as_crispy_field }}
                {{ form.max_value | as_crispy_field }}
                <button class="btn btn-outline-primary btn-block" type="submit" name="update-button">Update</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block extra_scripts %}



{% endblock %}