{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-4">
           <h2 class="border-bottom mb-4">Teams</h2>
       </div>
       <div class="col-md-8">
           <form action="{% url 'team_new' %}" method="post">
               {% csrf_token %}
               <div class="row">
                   <div class="col-md-6">
                   {{ form.name | as_crispy_field }}
                   </div>
                   <div class="col-md-6">
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Add New Team">
                   </div>
               </div>
           </form>
       </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Events</th>
                </tr>
                </thead>
                {% for t in teams %}
                <tr>
                    <td>
                        <a href="{% url 'team_edit' t.id %}" class="btn btn-outline-primary btn-block" role="button">{{ t.name }}</a>
                    </td>
                    <td>{{ t.number_of_events }}</td>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
   {% block extra_scripts %}
<script type='text/javascript'>



</script>


    {% endblock %}