{% extends 'tsb_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-4">
           <h2 class="border-bottom mb-4">Team: {{ team.name }}</h2>
       </div>
       <div class="col-md-8">
           <form action="{% url 'team_update' %}" method="post">
               {% csrf_token %}
               <div class="row">
                   <div class="col-md-6">
                       {{ form.id | as_crispy_field }}
                       {{ form.name | as_crispy_field }}
                   </div>
                   <div class="col-md-6">
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Update Name">
                   </div>
               </div>
           </form>
       </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h4 class="border-bottom mb-1 text-center">Players</h4>
            <form action="{% url 'team_add_player' team.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ player_select_form | crispy }}
                    </div>
                    <div class="col-md-6">
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Add Players">
                    </div>
                </div>
            </form>
            <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th></th>
                </tr>
                </thead>
                {% for p in team.players %}
                <tr>
                    <td>
                        <a href="" class="btn btn-outline-info btn-block" role="button">{{ p.name }}</a>
                    </td>
                    <td>{{ p.dob }}</td>
                    <td>
                        <a href="{% url 'team_remove_player' team.id p.id %}" class="btn btn-outline-danger btn-block" role="button">-</a>
                    </td>
                    {% endfor %}
            </table>
        </div>
        <div class="col-md-3">
            <h4 class="border-bottom mb-1 text-center">Coaches</h4>
            <form action="{% url 'team_add_coach' team.id %}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ coach_select_form | crispy }}
                    </div>
                    <div class="col-md-6">
                       <input class="btn btn-outline-primary btn-block" type="submit" value="Add Coaches">
                    </div>
                </div>
            </form>
            <table id="coachTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                {% for c in team.coaches %}
                <tr>
                    <td>{{ c.name }}</td>
                    <td>
                        <a href="{% url 'team_remove_coach' team.id c.id %}" class="btn btn-outline-danger btn-block" role="button">-</a>
                    </td>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <h4 class="border-bottom mb-1 text-center">Events</h4>
            <a href="{% url 'event_new' team.id %}" class="btn btn-outline-primary btn-block" role="button">Add Event</a>
            <table id="eventTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                    <th></th>
                    <th>Freq</th>
                    <th></th>
                </tr>
                </thead>
                {% for e in team.events %}
                <tr>
                    <td>
                        <a href="{% url 'event_edit' team.id e.id %}" class="btn btn-outline-primary btn-block" role="button">{{ e.name }}</a>
                    </td>
                    <td>{{ e.start_time }}</td>
                    <td>{{ e.end_time }}</td>
                    <td>{{ e.start_date }}</td>
                    <td>{{ e.end_date }}</td>
                    <td>{{ e.frequency }}</td>
                    <td>
                        <a href="{% url 'event_remove' team.id e.id %}" class="btn btn-outline-danger btn-block" role="button">-</a>
                    </td>
                {% endfor %}
            </table>
            <h5 class="border-bottom mb-0 text-center">Schedule</h5>
            <table id="scheduleTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>TSS</th>
                </tr>
                </thead>
                {% for o in team.schedule %}
                <tr>
                    <td>{{ o.date }}</td>
                    <td>{{ o.day }}</td>
                    <td>{{ o.event.start_time }}</td>
                    <td>{{ o.event.end_time }}</td>
                    <td>{{ o.tss }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="border-top mb-4 text-center">Training Stress Balance</h2>
              <div class="embed-responsive embed-responsive-16by9">
                  <img class="embed-responsive-item" src="{% static graph_img %}">
              </div>
        </div>
    </div>

</div>

{% endblock %}
   {% block extra_scripts %}
    $(document).ready(function(){
        $('#eventTable').DataTable({
            "pageLength": 10
        });
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function(){
        $('#coachTable').DataTable({
            "pageLength": 10
        });
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function(){
        $('#scheduleTable').DataTable({
            "pageLength": 10
        });
        $('.dataTables_length').addClass('bs-select');
    });

$(document).ready(function(){
$('#Players').select2();
});

$(document).ready(function(){
$('#Coaches').select2();
});

    {% endblock %}