{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
   <div class="row">
       <div class="col-md-4">
           <div class="row">
               <div class="col-md-12">
                   <h2 class="border-bottom mb-4">Days</h2>
               </div>
           </div>
           <div class="row">
               <div class="col-md-12">

                   <a href="{% url 'day_new' %}" class="btn btn-outline-primary btn-block" role="button">New Day</a>

               </div>
           </div>
       </div>
       <div class="col-md-4">
       </div>
       <div class="col-md-4">
           <form method="post">
               {% csrf_token %}
               <div class="form-row">
               <div class="col-md-6">{{ form.from | as_crispy_field }}</div>
               <div class="col-md-6">{{ form.to | as_crispy_field }}</div>
               <button type="submit" name='model_search' class="btn btn-outline-primary btn-block">search</button>
               </div>
           </form>
       </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>date</th>
                    <th>sleep</th>
                    <th>quality</th>
                    <th>fatigue</th>
                    <th>motivation</th>
                    <th>kg</th>
                    <th>Fat%</th>
                    <th>HR</th>
                    <th>SDNN</th>
                    <th>rMSSD</th>
                    <th>type</th>
                    <th>#</th>
                    <th>Time</th>
                    <th>TSS</th>
                    <th>Swim</th>
                    <th>Bike</th>
                    <th>Run</th>
                    <th>comments</th>
                </tr>
                </thead>
                {% if days %}
                {% for d in days %}
                <tr>
                    <td>
                        <a href="{% url 'day_form' d.date %}" class="btn btn-outline-primary btn-sm" role="button">Edit</a>
                    </td>
                    <td>{{ d.date | date:'Y-m-d' }}</td>
                    <td>{{ d.sleep }}</td>
                    <td>{{ d.sleepQualityScore }}</td>
                    <td>{{ d.fatigue }}</td>
                    <td>{{ d.motivation }}</td>
                    <td>{{ d.kg }}</td>
                    <td>{{ d.fat_percentage }}</td>
                    <td>{{ d.restingHR }}</td>
                    <td>{{ d.SDNN }}</td>
                    <td>{{ d.rMSSD}}</td>
                    <td>{{ d.day_type }}</td>
                    <td>{{ d.workout_count }}</td>
                    <td>{{ d.training_duration }}</td>
                    <td>{{ d.tss }}</td>
                    <td>{{ d.swim_km }}</td>
                    <td>{{ d.bike_km }}</td>
                    <td>{{ d.run_km }}</td>
                    <td>{{ d.comments }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
   {% block extra_scripts %}
<script type='text/javascript'>

    function toggleFilter(){
        var x = document.getElementById("report_chooser");
        var button = document.getElementById("filter_btn");
        if(x.style.display === "none"){
            x.style.display = "block";
            button.value = "Hide";
        }else{
            x.style.display = "none";
            button.value = "Show";
        }
     }


$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

$(document).ready(function(){
$('#sleep_quality').select2();
})
$(document).ready(function(){
$('#type').select2();
});
</script>


    {% endblock %}