{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<h2 class="border-bottom mb-4">Days</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
            <div class="col-md-6">
                <h3 class="border-bottom mb-4">Filter</h3>
            </div>
            <div class="col-md-6">
                <input type="button" id="filter_btn" class="btn btn-outline-primary btn-block" onclick="toggleFilter()" value="Hide">
            </div>
            </div>
        </div>
        <div id="report_chooser" class="col-md-12">
            <form method="post" action="{% url 'day_list' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Date</label>
                            <div class="col-4">{{ filter.form.start_date_gte | as_crispy_field }}</div>
                            <label class="col-2 col-form-label">To</label>
                            <div class="col-4">{{ filter.form.start_date_lte | as_crispy_field }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Day Type</label>
                            <div class="col-10">{{ filter.form.type | as_crispy_field }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Sleep</label>
                            <div class="col-4">{{ filter.form.sleep_gte | as_crispy_field }}</div>
                            <label class="col-2 col-form-label">To</label>
                            <div class="col-4">{{ filter.form.sleep_lte | as_crispy_field }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Sleep Quality</label>
                            <div class="col-10">{{ filter.form.sleep_quality | as_crispy_field }}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Fatigue</label>
                            <div class="col-4">{{ filter.form.fatigue_gte | as_crispy_field }}</div>
                            <label class="col-2 col-form-label">To</label>
                            <div class="col-4">{{ filter.form.fatigue_lte | as_crispy_field }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Motivation</label>
                            <div class="col-4">{{ filter.form.motivation_gte | as_crispy_field }}</div>
                            <label class="col-2 col-form-label">To</label>
                            <div class="col-4">{{ filter.form.motivation_lte | as_crispy_field }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Comments</label>
                            <div class="col-10">{{ filter.form.comments | as_crispy_field }}</div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <button type="submit" name='model_search' class="btn btn-outline-primary btn-block">search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'day_new' %}">
                <input class="btn btn-outline-primary btn-sm" type="submit" value="Add Day"/>
            </form>
            <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>date</th>
                    <th>sleep</th>
                    <th>quality</th>
                    <th>fatigue</th>
                    <th>motivation</th>
                    <th>type</th>
                    <th>#</th>
                    <th>Time</th>
                    <th>TSS</th>
                    <th>comments</th>
                </tr>
                </thead>
                {% if days %}
                {% for d in days %}
                <tr onclick="{% url 'day_form' d.id %}">
                    <td>
                        <a href="{% url 'day_form' d.id %}" class="btn btn-outline-primary btn-sm" role="button">View</a>
                    </td>
                    <td>{{ d.date | date:'Y-m-d' }}</td>
                    <td>{{ d.sleep }}</td>
                    <td>{{ d.sleep_quality }}</td>
                    <td>{{ d.fatigue }}</td>
                    <td>{{ d.motivation }}</td>
                    <td>{{ d.type }}</td>
                    <td>{{ d.number_of_workouts }}</td>
                    <td>{{ d.training_duration }}</td>
                    <td>{{ d.tss }}</td>
                    <td>{{ d.comments }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
   {% block extra_scripts %}
<script type='text/javascript'>

    function toggleFilter(){
        var x = document.getElementById("report_chooser");
        var button = document.getElementById("filter_btn");
        if(x.style.display === "none"){
            x.style.display = "block";
            button.value = "Hide";
        }else{
            x.style.display = "none";
            button.value = "Show";
        }
     }


$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

$(document).ready(function(){
$('#sleep_quality').select2();
})
$(document).ready(function(){
$('#type').select2();
});
</script>


    {% endblock %}