{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <h1 class="border-top mb-4">SUMMARY</h1>
    <table class="table table-hover table-bordered table-striped table-sm ">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>Type</th>
                <th>Sleep</th>
                <th>Quality</th>
                <th>Fatigue</th>
                <th>Motivation</th>
                <th>KG</th>
                <th>Fat%</th>
                <th>HR</th>
                <th>SDNN</th>
                <th>rMSSD</th>
            </tr>
        </thead>
        <tr >
            <td>{{ day.date }}</td>
            <td>{{ day.training_duration }}</td>
            <td>{{ day.type }}</td>
            <td>{{ day.sleep }}</td>
            <td>{{ day.sleepQualityScore }}</td>
            <td>{{ day.fatigue }}</td>
            <td>{{ day.motivation }}</td>
            <td>{{ day.kg }}</td>
            <td>{{ day.fat_percentage }}</td>
            <td>{{ day.restingHR }}</td>
            <td>{{ day.SDNN }}</td>
            <td>{{ day.rMSSD }}</td>
        </tr>
    </table>
</div>
<div class="row justify-content-center">
    <div class="col-md-3">
        <h1 class="border-bottom mb-4">Day</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <button class="btn btn-outline-primary btn-block" type="submit">Update</button>
        </form>
        <h2 class="border-bottom mb-4">Readings</h2>
        <form action="{% url 'reading_new' day.date %}">
                <input class="btn btn-outline-primary btn-block" type="submit" value="Add Reading"/>
            </form>
                            <table class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>type</th>
                                <th>value</th>
                                <th></th>
                            </tr>
                        </thead>

                    {% for r in day.readings %}
                    <tr>
                        <td>
                            <a href="{% url 'reading_form' r.date r.reading_type %}" class="btn btn-outline-primary btn-block" role="button">Edit</a>
                        </td>
                        <td>{{ r.reading_type }}</td>
                        <td>{{ r.value }}</td>
                        <td>
                            <a href="{% url 'reading_delete' r.date r.reading_type %}" class="btn btn-outline-danger btn-block" role="button">DELETE</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-12">
                <h2 class="border-bottom mb-4">Workouts</h2>
                <form action="{% url 'workout_new' day.date %}">
                    <input class="btn btn-outline-primary btn-sm" type="submit" value="Add Workout"/>
                </form>
                    <table class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>activity</th>
                                <th>type</th>
                                <th>duration</th>
                                <th>rpe</th>
                                <th>tss</th>
                                <th>method</th>
                                <th>km</th>
                                <th>kj</th>
                                <th>ascent</th>
                                <th>reps</th>
                                <th>cadence</th>
                                <th>watts</th>
                                <th>estimated?</th>
                                <th>hr</th>
                                <th>brick?</th>
                                <th></th>
                            </tr>
                        </thead>

                    {% for w in day.workouts %}
                    <tr>
                        <td>
                            <a href="{% url 'workout_form' w.date w.workout_number %}" class="btn btn-outline-primary btn-block" role="button">Edit</a>
                        </td>
                        <td>{{ w.workout_number }}</td>
                        <td>{{ w.activity }}</td>
                        <td>{{ w.activity_type }}</td>
                        <td>{{ w.seconds }}</td>
                        <td>{{ w.rpe }}</td>
                        <td>{{ w.tss }}</td>
                        <td>{{ w.tss_method }}</td>
                        <td>{{ w.km }}</td>
                        <td>{{ w.kj }}</td>
                        <td>{{ w.ascent_metres }}</td>
                        <td>{{ w.reps }}</td>
                        <td>{{ w.cadence }}</td>
                        <td>{{ w.watts }}</td>
                        <td>{{ w.watts_estimated }}</td>
                        <td>{{ w.heart_rate }}</td>
                        <td>{{ w.is_brick }}</td>
                        <td>
                            <a href="{% url 'workout_delete' w.date w.workout_number %}" class="btn btn-outline-danger btn-block" role="button">DELETE</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_scripts %}

<script type='text/javascript'>
$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

$(document).ready(function(){
$('#type').select2();
})
$(document).ready(function(){
$('#sleep_quality').select2();
});


</script>

{% endblock %}