{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block extra_scripts_start %}
<script type='text/javascript'>



    $(document).ready(function(){
        $('#kgTable').DataTable({
        "pagingType": "simple",
        "order": [[0, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function(){
        $('#fatTable').DataTable({
        "pagingType": "simple",
        "order": [[0, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function(){
        $('#hrTable').DataTable({
        "pagingType": "simple",
        "order": [[0, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function(){
        $('#sdnnTable').DataTable({
        "pagingType": "simple",
        "order": [[0, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

    $(document).ready(function(){
        $('#rmssdTable').DataTable({
        "pagingType": "simple",
        "order": [[0, "desc"]]
        });
        $('.dataTables_length').addClass('bs-select');
    });

</script>

{% endblock %}

{% block content %}
<div class="container-fluid">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <h2 class="col-6 border-bottom mb-4">PHYSIOLOGICALS</h2>
                <div class="col-4">
                    <div class="row">
                        <label class="col-4 col-form-label text-center">Dates Between</label>
                        <div class="col-4">{{ form.from | as_crispy_field }}</div>
                        <div class="col-4">{{ form.to | as_crispy_field }}</div>
                    </div>
                </div>
                <button class="col-2 btn btn-outline-primary btn-sm btn-block mb-4" type="submit">Search</button>
            </div>
        </form>
    <div class="row">
        <div class="col-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="border-bottom mb-4">KG</h4>
                        </div>
                    </div>
                    <table id="kgTable" class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                        <tr>
                            <th>date</th>
                            <th>value</th>
                        </tr>
                        </thead>
                        {% for d in kg %}
                        <tr>
                            <td>{{ d.date | date:'Y-m-d' }}</td>
                            <td>{{ d.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="border-bottom mb-4">Fat %</h4>
                        </div>

                    </div>
                    <table id="fatTable" class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                        <tr>
                            <th>date</th>
                            <th>value</th>
                        </tr>
                        </thead>
                        {% for d in fat_percentage %}
                        <tr>
                            <td>{{ d.date | date:'Y-m-d' }}</td>
                            <td>{{ d.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="border-bottom mb-4">Resting HR</h4>
                        </div>
                    </div>
                    <table id="hrTable" class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                        <tr>
                            <th>date</th>
                            <th>value</th>
                        </tr>
                        </thead>
                        {% for d in hr %}
                        <tr>
                            <td>{{ d.date | date:'Y-m-d' }}</td>
                            <td>{{ d.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="border-bottom mb-4">SDNN</h4>
                        </div>
                    </div>
                    <table id="sdnnTable" class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                        <tr>
                            <th>date</th>
                            <th>value</th>
                        </tr>
                        </thead>
                        {% for d in sdnn %}
                        <tr>
                            <td>{{ d.date | date:'Y-m-d' }}</td>
                            <td>{{ d.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-6">
                            <h4 class="border-bottom mb-4">rMSSD</h4>
                        </div>
                    </div>
                    <table id="rmssdTable" class="table table-hover table-bordered table-striped table-sm ">
                        <thead class="thead-light">
                        <tr>
                            <th>date</th>
                            <th>value</th>
                        </tr>
                        </thead>
                        {% for d in rmssd %}
                        <tr>
                            <td>{{ d.date | date:'Y-m-d' }}</td>
                            <td>{{ d.value }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
   {% block extra_scripts %}

<script type='text/javascript'>

    function toggleFilter(){
        var x = document.getElementById("filter");
        var button = document.getElementById("filter_btn");
        if(x.style.display === "none"){
            x.style.display = "block";
            button.value = "Hide Filter";
        }else{
            x.style.display = "none";
            button.value = "Show Filter";
        }
     }




$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

</script>

    {% endblock %}