{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load workoutentry_extras %}
{% block content %}
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="border-0 text-right">
                <li class="list-group-item list-group-item-info "><h2>SUMMARY</h2></li>
            </ul>
            <table class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for h in headings %}
                    <th>{{h}}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% for d in data %}
                <tr>
                    {% for i in d %}
                    <td>{{i | summary_filter}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <ul class="border-0 text-right">
                <li class="list-group-item list-group-item-info "><h2>Hours Summary</h2></li>
            </ul>
            <table class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    {% for h in summary_headings%}
                    <th>{{h}}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% for v in hours_summary %}
                <tr>
                    {% for i in v %}
                    <td>{{i | summary_filter}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <ul class="border-0 text-right">
                <li class="list-group-item list-group-item-info "><h2>KM Summary</h2></li>
            </ul>
            <table class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    {% for h in summary_headings%}
                    <th>{{h}}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% for v in km_summary %}
                <tr>
                    {% for i in v %}
                    <td>{{i | summary_filter}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            <ul class="border-0 text-right">
                <li class="list-group-item list-group-item-info "><h2>Bike KM</h2></li>
            </ul>
            <table class="table table-hover table-bordered table-striped table-sm ">
                <thead class="thead-light">
                <tr>
                    {% for h in summary_headings%}
                    <th>{{h}}</th>
                    {% endfor %}
                </tr>
                </thead>
                {% for v in equipment_summary %}
                <tr>
                    {% for i in v %}
                    <td>{{i | summary_filter}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
 </div>


{% endblock %}

   {% block extra_scripts %}



    {% endblock %}