{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<h2 class="border-bottom mb-4">Workouts</h2>
<div class="container-fluid">

    </div>
    <div class="row">
    <div class="col-md-12">
        <table id="dataTable" class="table table-hover table-bordered table-striped table-sm ">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>day</th>
                    <th>activity</th>
                    <th>type</th>
                    <th>equipment</th>
                    <th>duration</th>
                    <th>rpe</th>
                    <th>tss</th>
                    <th>method</th>
                    <th>km</th>
                    <th>kj</th>
                    <th>ascent</th>
                    <th>reps</th>
                    <th>race?</th>
                    <th>cadence</th>
                    <th>watts</th>
                    <th>estimated?</th>
                    <th>hr</th>
                    <th>brick?</th>
                    <th>keywords</th>
                    <th>last save</th>
                </tr>
            </thead>
        {% if workouts %}
        {% for w in workouts %}
        <tr>
            <td>
                <a href="{% url 'workout_form' w.date w.workout_number %}" class="btn btn-outline-primary btn-block" role="button">Edit</a>
            </td>
            <td>{{ w.date }}</td>
            <td>{{ w.activity }}</td>
            <td>{{ w.activity_type }}</td>
            <td>{{ w.equipment }}</td>
            <td>{{ w.seconds }}</td>
            <td>{{ w.rpe }}</td>
            <td>{{ w.tss }}</td>
            <td>{{ w.tss_method }}</td>
            <td>{{ w.km }}</td>
            <td>{{ w.kj }}</td>
            <td>{{ w.ascent_metres }}</td>
            <td>{{ w.reps }}</td>
            <td>{{ w.is_race }}</td>
            <td>{{ w.cadence }}</td>
            <td>{{ w.watts }}</td>
            <td>{{ w.watts_estimated }}</td>
            <td>{{ w.heart_rate }}</td>
            <td>{{ w.is_brick }}</td>
            <td>{{ w.keywords }}</td>
            <td>{{ w.last_save }}</td>

        </tr>
        {% endfor %}
        {% endif %}
    </table>
    </div>
</div>
    </div>


{% endblock %}


   {% block extra_scripts %}
<script type='text/javascript'>
$('.datepicker').datepicker({
    format: "yyyy-mm-dd",
});

$(document).ready(function(){
$('#activity').select2();
})
$(document).ready(function(){
$('#activity_type').select2();
});
$(document).ready(function(){
$('#tss_method').select2();
});
$(document).ready(function(){
$('#equipment').select2();
});
</script>


    {% endblock %}
