{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
 <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="border-0 text-center">
                <li class="list-group-item list-group-item-info "><h2>Race Plans</h2></li>
                {% for r in upcoming_races %}
                <li class="list-group-item border-0">{{ r.date | date:'d M Y'}} - {{ r.name }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
 </div>


{% endblock %}

   {% block extra_scripts %}



    {% endblock %}